<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Login{% endblock %}</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/form-style.css') }}">
</head>
<body>
    {% block form %}{% endblock %}
    <script src="{{ asset('assets/js/form-js.js') }}"></script>
</body>
</html>